<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.twl.dao.UserDao">
    <select id="findUserByMobileNumber" parameterType="String" resultType="org.twl.bean.User">
        select * from user where mobileNumber = #{mobileNumber}
    </select>
    <select id="findAllUser" resultMap="java.util.List">
        select * from user limit #{position},#{size};
    </select>

</mapper>